*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    background-color: rgb(46, 182, 227);
    height: 450px;
    width: 45%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    border-radius: 10%;
    box-shadow: 20px 20px 20px rgb(242, 188, 27);

}
.profile{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items: center;
    float : left;
    margin: 5% 0 0 5% ;
    height : 80%;
    width : 80%;
}
button{
  position : absolute;
  left : 15%;
}
img{
    height : 400px;
    width : 350px;
    float : right;
    margin-top: 5%;
    transform: translateY(5%);
}
h1{
    background: linear-gradient(to right, rgb(255, 128, 0), orangered);
    font-size : 40px;
    margin-top: 25%;
    margin-bottom : 5px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
p{
    font-size : 15px;
    color: rgb(175, 76, 26);
}
.a{
    margin-bottom: 30px;
}

.b{
    margin-bottom: 10px;
}

h2{  
    margin-bottom: 30px;
    color: rgb(255, 238, 0);
    font-size: 35px;
}
.card h1{
   font-size : 30px;
}